body {
    margin: 0;
}
a:hover {
    color: silver;
}
#container1 {
    position: absolute;
    height: 100px;
    width: 1280px;
    text-align: center;
}
#p1 {
    font: bold 45px "Microsoft YaHei";
    color: aliceblue;
    letter-spacing: 2px;
    margin-bottom: 10px;
    margin-top: 50px;
}
#p2 {
    position: relative;
    font: bold 30px "Microsoft YaHei";
    color: gold;
    letter-spacing: 1px;
    margin: 10px;
}
#img1 {
    position: absolute;
    height: 100px;
    width: 100px;
    float: right;
    z-index: 1001;
    top: 10px;
    right: 5px;
}
#container2 {
    position: absolute;
    top: 210px;
}
.input3 {
    position: relative;
    width: 400px;
    height: 40px;
    color: silver;
    font: normal 25px "Microsoft YaHei";
    margin-left: 430px;
    border: 3px solid goldenrod;
}

.input2 {
    font: bolder 30px "Microsoft YaHei";
    background: url("resources/img/button2.jpg");
    color: gold;
    text-align: center;
    width: 300px;
    line-height: 40px;
    height: 50px;
    cursor:pointer;
    margin-left: 470px;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}
#container3 {
    position: absolute;
    top: 200px;
    width: 344px;
    height: 348px;
}
#img3 {
    position: relative;
    left: 50px;
    height: 300px;
    width: 300px;
}
/*用户名密码为空时*/
.empty {
    position: relative;
    left: 500px;
    top: 9px;
    color:whitesmoke;
    font: normal 25px "Microsoft YaHei";
}
#userName {
    display: none;
}
#passWord {
    display: none;
}
#both {
    display: none;
}
#isusername { }
#ispassword { }
#logInClick {
    top: 35px;
    position: relative;
}
#account {
    position: relative;
    top:52px;
}

/*足迹栏*/
#track {
    position: absolute;
    top: -5px;
    text-align: left;
    z-index: 1000;
    width: 1263px;
    background: black;
    font: bold 16px/50px Arial;
    height: 38px;
    border: 1px solid black;
}

.aS {
    color: goldenrod;
    text-decoration: none;
}