body {
    margin: 0;
    font-family: "Microsoft YaHei";

}
#container1 {
    height: 50px;
    width: 1280px;
}
.title {
    padding-left: 4px;
    font-size: 30px;
    font-weight: bold;
    padding-right: 10px;
}
.littleTitle {
    letter-spacing: 2px;
    line-height: 48px;
}
a:hover {
    background: goldenrod;
}
.atype1 {
    color:black;
    font: normal 16px Arial;
    text-decoration: none;
}
#container1 img {
    height: 50px;
    width: 100px;
    float: right;
    margin-right: 21px;
    margin-bottom: 0;
    border-radius: 34px;
}
#container2 {
    position: relative;
    top: 40px;
    height: 60px;
    width: 1280px;
    text-align: center;
    letter-spacing: 2px;
}
#p1 {
    font: bold 20px Arial;
    margin: 5px;
}
#p2 {
    color: #8b8b8b;
    margin: 5px;
}
#container3 {
    position: relative;
    top: -30px;
    width: 1250px;
    height: 600px;
}
* {
    margin:0;
    padding:0;
}
.box {
    width: 350px;
    height: 262px;
    margin: 10px;
    border: 1px solid #ccc;
    position: relative;
    top: 42px;
    left: 200px;
}
.big {
    width:400px;
    height:400px;
    position:absolute;
    top:0;
    left:360px;
    border:1px solid #ccc;
    overflow:hidden;
    display:none;
    z-index: 100;
}
.mask {
    width:175px;
    height:175px;
    background:rgba(255,255,0,0.4);
    position:absolute;
    top:0;
    left:0;
    cursor:move;
    display:none;
}
.small {
    position:relative;
}
.box img {
    vertical-align:top;
}
#bigBox img {
    position:absolute;
}

#sec {
    position: relative;
    float: right;
    margin-right: 70px;
    margin-top: -200px;
}
.p3 {
    font:bold 18px Arial;
    color: black;
    line-height: 35px;
}
.p4~p {
    font: bold 18px Arial;
    color: #8b8b8b;
    line-height: 35px;
}
#input1 {
    background: url("resources/img/7.jpg");
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: white;
    font: bold 20px Arial;
    text-decoration: none;
    cursor:pointer;
    display: block;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

#input2 {
    font: bold 20px Arial;
    background: url("resources/img/18.jpg");
    color: black;
    text-align: center;
    width: 400px;
    line-height: 40px;
    height: 50px;
    cursor:pointer;
    display: block;
    border-radius: 20px;
    box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

#typea3 {
    font: bold 20px Arial;
    text-decoration: none;
    color: black;
}

/*足迹栏*/
#track {
    position: absolute;
    top: 51px;
    text-align: left;
    z-index: 1000;
    width: 1263px;
    background: whitesmoke;
    color: goldenrod;
    font: bold 16px/50px Arial;
    height: 38px;
    border: 1px solid black;
}
.aS {
    text-decoration: none;
}
